* {
  box-sizing: border-box;
}

body {
  background-color: #2B2D42;
  margin: 0;
  padding 0;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.page-title {
  color: #8D99AE;
  display: inline-block;
  font-weight: 700;
  font-size: 54px;
  margin-top: 30px;
  margin-left: 45px;
  width: 500px
}

.navBar {
  display: inline-block;
  margin-top: 30px;
  margin-right: 45px;
  width: 250px;
}

.main {
  margin: 0 auto;
}

/*.new-user-form, .sign-in-form {
  display: flex;
  flex-direction: column;
}*/

input, input[type='submit']{
  height: 40px;
  margin-top: 20px;
  width: 100%;
}

.form-navlinks {
  text-align: center;
  background-color: #edf2f4;
  color: #2b2d42;
  display: block;
  height: 40px;
  margin: 15px 15px;
  padding: 10px;
  text-decoration: none;
  width: 90%;
}

.form-navlinks: hover {
  /*cursor: pointer;*/
  background-color: #d90429;
}

button .form-navlinks {
  border: none;
  
}

.forms {
  display: flex;
  flex-direction: column;
  background-color: #8d99ae;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

#movie-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
  position: relative;
}

.movie-card {
  height: 320px;
  width: 220px;
  margin: 10px;
  z-index: 0;
  transform-style: preserve-3d;
  transition: all .1s linear;
  perspective: 1000px;
}

.hidden {
  display: none
}

.movie-card:hover > .back-side {
  /*opacity: 0;*/
  visibility: visible;
  z-index: 0;
  /*transition: opacity 1s ease-in, visibility .75s linear;*/
}

.movie-card:hover {
  opacity: .2;
  transition: opacity 1s ease-in, visibility .75s linear;
}

.card-side {
 position: absolute;
 top: 0;
 overflow: hidden;
 backface-visibility: hidden;
 box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
}

.back-side {
  height: 100%;
  width: 100%;
  visibility: hidden;
  background-color: #D0FCB3;
  opacity: .25%;
  height: 80%;
  text-align: center;
  z-index: 1;
  /*transform: rotateY(180deg);*/
}

.movie-title {
  font-size: 18px;
  width: 90%;
  margin: 10 auto;
}

.release {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.overview {
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}

.selected {
  color: #8e98a7;
}

.selected > svg path {
  stroke: #EF233C;
}

svg path {
  stroke-width: 4px;
  stroke: #EDF2F4
}

.icon {
  margin: 0 20px;
}

@media (max-width: 845px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .page-title {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }

  .navBar {
    margin: 0 auto;
  }
}
